<style>
    .loader {
        position: relative;
    }

    .inner-loader {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="loader">
    @if (Loading)
    {
        <div class="inner-loader">
            <MudOverlay @bind-Visible="Loading" DarkBackground="true" AutoClose="false">
                <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
            </MudOverlay>
        </div>
    }
    @ChildContent
</div>

@code
{
    [Parameter]
    public bool Loading { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}